body {
  font-family: Arial, Helvetica, sans-serif;
  
  text-align: center;
  background-color: #f3a67df4;
}

h1{
  color: hsl(18, 92%, 61%);
}

.contenedor {
  margin-top: 50px;
  padding: 20px;
  background: #f9eee7;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  display: inline-block;
  width: 300px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #ffba85dc; 
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

li.completada {
  text-decoration: line-through;
  background: #fbb99b;
}

button {
  padding: 5px 10px;
  background: #ff8a5c;
  border: none;
  color: white;
  cursor: pointer;
}
